<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.xamarin.scheduleapp" android:versionCode="1" android:versionName="0.2" android:installLocation="internalOnly">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="26" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<application android:icon="@drawable/Icon" android:label="Vertretungsplan" android:theme="@style/Theme.DesignDemo.CenterAnimation">
		<receiver android:name="AlarmReceiver"></receiver>
		<service android:enabled="true" android:name=".BackgroundService" />
	</application>
	<receiver android:name="AlarmReceiver"></receiver>
</manifest>